html, body{    
    font-family: Verdana, Helvetica, sans-serif;
    text-align:left;   
    font-size: 12px;  

    color:#5a5858;
    padding:0;
    margin:0;
    height:100%;
}

h1{
    color: #a43402;
    margin-bottom: 30px;
    height: 30px;
}

h1 a{
    text-decoration: none;
    font-size: 0.5em;
    color: #e04c09;
    background-color: #fdc8af;
    border: 1px solid #e04c09;
    padding: 1em;
    float: right;
    margin-right: 2em;
    text-align: center;
}

#header{
    width: 100%;
    position: relative;
    border-bottom: 2px solid #2b0e02;
    background: #e04c09;
    text-align: center;
    color: white;
    font-size: 2em;
    padding: 0.5em;
    font-weight: bold;
    height:30px;
}

#content{
    margin-left: 2em;
    max-height: -moz-calc(100vh - (105px));
    max-height: -webkit-calc(100vh - (105px));
    max-height: calc(100vh - (105px)) !important;
    overflow-y:scroll;
    display:block
}

#footer{
    width: 100%;
    position: relative;
    border-top: 2px solid #2b0e02;
    background: #e04c09;
    text-align: left;
    color: white;
    font-size: 1em;
    padding: 0.5em;
    position: absolute; 
    bottom: 0;
    height:20px;
}

li{
    line-height: 2em;
}

li.group{
    color: #e04c09;
    list-style: none;
    display: block;
    white-space: nowrap;
    margin-top:1em;
}

li.group span{
    color: #e04c09;
    background-color: #fdc8af;
    border: 1px solid #e04c09;
    padding: 0.2em 1em 0.2em 1em;
}

li.group span.button{
    background-color: #dddddd;
    border-left: none;
    padding: 0.2em 0.5em 0.2em 0.5em;
    cursor: pointer;
}

li.item{
    list-style: none;
}

li.item a{
    text-decoration: none;
    color: #727272;
    border-left:1px solid #e04c09;
    border-bottom:1px solid #e04c09;
    padding-left:0.5em;
}

div.message{
    display: inline-block;
    background-color: #f9e600;
    border: 1px solid #ac9634;
    padding: 0.5em;
    width: auto;
    margin-bottom:1em;
}

#addEntityForm table{
    margin-bottom:2em;
}

#addEntityForm input[type=submit]{
    color: #e04c09;
    background-color: #fdc8af;
    border: 1px solid #e04c09;
    padding: 0.2em 1em 0.2em 1em;
}

.a_button{
    color: #666666;
    background-color: #d1d1d1;
    border: 1px solid #666666;
    padding: 0.2em 1em 0.2em 1em;
    text-decoration: none;
    line-height: 2em;
}